<!DOCTYPE html>
<html lang="ru">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Страница профиля</title>
	<link type="text/css" rel="stylesheet" href="Style.css" />
	<script src="JS/script.js"></script>
	</head>
	<body>
	<div class="forms">
		<div class="form_auth_block">
			<div class="form_auth_block_content">
				<p class="form_auth_block_head_text">Регистрация</p>
				<form class="form_auth_style" action="#" method="post">
					<label>Имя профиля</label>
				</form>
			</div>
		</div>
	<div class="forms">
  	</body>
</html>